.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px; }

.photo {
    background-color: #ccc;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 15px;
    overflow:hidden;

}

.profile-pic {
    width: 100px;
    height: 100px;
    line-height:100px;
    background-image: url('');
    background-size: cover;
    text-align:center;
    background-color: #C0C0C0;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    font-size:50px;
    color:#fff;
}

.profile-pic-med {
    width: 48px;
    height: 48px;
    line-height:48px;
    background-image: url('');
    background-size: cover;
    text-align:center; 
    background-color: #C0C0C0;
    display: block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    font-size:24px;
    color:#fff;
}

.avatar {
 float: left;
}
.message {
        display: inline;
}

.author {
    border: 1px solid #cacaca;
    border-radius: 3px;
}

h3 a {
   
    color: black;
}

.destructive a {
    color: red;
}

body {
}

.log-in-form {
    border: 1px solid #cacaca;
    padding: 1rem;
    border-radius: 3px; }

/* User Management*/
.profile-top-bar{
    min-height: 20vh;
    background-color:  #00004d;
}

.profile-top-bar-img{
    border-radius: 100%;
    width: 10vw;
    height: 10vw;
    box-shadow: 0 0 20px rgba(255,255,0, .8);
    margin-top: 2vh
}

.profile-top-bar-name{
    color: white;
    font-size: x-large;
}

.profile-top-bar-roles{
    color: rgba(255,255,255,.8);
    font-size: medium;
}

.profile-top-bar-roles-icon{
    width: 1.5vw
}

.user-management-side-menu{
    height: 100vh;
    background-color: rgba(12,35,64,1);
}

.user-management-side-menu-content{
    border-bottom: 1px solid rgba(255,255,255,.5);
}

.user-management-side-menu-content > a{
    color: white;
}

.profile-info-key{
    color: white;
    font-weight: bold;
    background-color: rgba(12,35,64,1);
    text-align: center;
    
}

.profile-info-value{
    border: 1px solid black;
    background-color: rgba(128,128,128,.1);
    box-shadow: 0 0 2px rgba(0,0,0, .8);
    width:100%;
    text-align: center;    
}

.profile-project-involved{
    border: 1px solid black;
    background-color: rgba(128,128,128,.1);
    box-shadow: 0 0 2px rgba(0,0,0, .8);
    width:100%;
    text-align: center;
/*    color: blue;*/
}

.edit-profile-img-upload-button{
    border: 1px solid rgba(128,128,128,.5);
    background-color: white;
    width: 100px;
    text-align: center;
    cursor: pointer;
    
}
.edit-profile-img-upload-button:hover{
    border: 1px solid rgba(128,128,128,.5);
    background-color: rgba(128,128,128,.5);
    border-radius: 10%;
    width: 100px;
    text-align: center;
    cursor: pointer;
    
}

.user-list-delete-button{
    margin-top:1%;
}

.user-list-column{
    border-bottom: 1px solid rgba(0,0,0,.1);
    
}

.userRemoveButton{
    background-color: rgba(0,0,255,.5);
    color: white;
    font-size: medium;
    min-width: 40%;
    margin-left: -15px;
    padding: 3%;
}

.userEditButton{
    background-color: rgba(0,0,255,.5);
    color: white;
    font-size: medium;
    min-width: 40%;
    padding: 3%;
}

.orangeButton{
    background-color: orange;
    height: 5px;
    line-height:5px;
}

.redButton{
    background-color: red;
    height: 5px;
    line-height:5px;
}

.blueButton{
    height: 5px;
    line-height:5px;
}

.title{
    width:80%;
    border-bottom: 1px solid rgba(0,0,0,.1);
    line-height:1px;
    margin:10px 0 20px;
}
.title span{
    background-color: white;
    margin-left: 10px;
    color:gray;
    font-weight: bold;
}

.scrollMembers{
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
    height: 200px;
    background-color:#fafafa;
    border: 1px solid #cacaca;
    color: #959595;
   
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgb(0,0,0);
}

/* Side bar menu height according to the screen*/
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    .user-management-side-menu {
        height: 100%;
    }
	
	
	
td.details-control {
		background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
		cursor: pointer;
}


tr.shown td.details-control {
		background: url('http://i.imgur.com/d4ICC.png') no-repeat center center;
}
