
<div class="callout large primary">
<div class="row column text-center">
    <h1>Edit post</h1>
</div>
</div>

    {{#sprint}}

<form action="{{url}}/editsprintdetails" method="post">

    <div class="row">
    <div class="large-12 columns">
        <label>Title
            <input type="text" name="title" value="{{title}}" />
        </label>
    </div>
    </div>

    <div class="row">
    <div class="large-12 columns">
        <label>Expected duration
            <input type="number" name="duration" value="{{duration}}" step="0.1"/>
        </label>

    </div>
    </div>

    <input type="submit" value="Submit">

</form>
{{/sprint}}
