
<div class="callout large primary">
<div class="row column text-center">
    <h1>Edit post</h1>
</div>
</div>

    {{#sprint}}

<form action="{{url}}" method="post">

    <div class="row">
    <div class="large-12 columns">
        <label>Title
            <input type="text" name="title" value="{{title}}" />
        </label>
    </div>
    </div>

    <div class="row">
    <div class="large-12 columns">
        <label>Description
            <textarea name="body">{{body}}</textarea>
        </label>

        <label>Expected duration
            <input type="text" name="duration" value="{{duration}}" />
        </label>

    </div>
    </div>

</form>
{{/sprint}}
