{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class="row medium-8 large-7 columns">



<table id="sprintTaskList" style="width:100%">
<thead>
<tr>
<td>Sprint</td>
<td>Title</td>
<td>Expected Duration</td>
<td>Status</td>
</tr>
</thead>
<tbody>{{#sprints}}
<tr>

<td><a href="{{urlPath}}"><strong>Sprint {{index}}</strong></a></td>
<td>{{title}}</td>
<td>{{duration}}</td>
<td>{{status}}</td>

</tr>{{/sprints}}
</tbody>


</table>
</div>

<script>
$("#sprintTaskList").DataTable({
paging:false,
searching:true,
autowidth:false,
info:false
});


</script>

