{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}
{
"posts": [
{{#post}}
{
"title": "{{title}}",
"body": "{{body}}",
"duration": "{{duration}}"
}
{{/post}}
]
}