{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}



<form action="/sprints" method="post">

    <div class="row">
        <div class="large-12 columns">
            <label>Sprint Title
                <input type="text" name="title" />
            </label>

            <label>Sprint Duration (In hours)
                <input type="number" name="duration" />
            </label>

            <label>Select User Stories
            <div class="scrollMembers">
                {{#userStories}}
                <input type="checkbox" value="{{objectID}}" name="userStories">  {{title}}<br>
                {{/userStories}}
            </div>
            </label>
            <br>
            <input type="submit" value="Submit">

        </div>
    </div>
</form>


