{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}



<form action="/sprints" method="post">

    <div class="row">
        <div class="large-12 columns">
            <label>Sprint Title
                <input type="text" name="title" />
            </label>


            <label>Sprint Body (Description)
                <input type="text" name="body" />
            </label>

            <label>Sprint Duration
                <input type="number" name="duration" />
            </label>

            <label>Select User Stories
                <select name="userStories" multiple>
                    {{#userStories}}
                        <option value="{{objectID}}">{{title}}</option>
                    {{/userStories}}
                </select>
            </label>
            <input type="submit" value="Submit">

        </div>
    </div>
</form>


