{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}



<form action="/sprints" method="post">

    <div class="row">
        <div class="large-12 columns">
            <label>Sprint Title
                <input type="text" name="title" />
            </label>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <label>Sprint Body (Description)
                <input type="text" name="body" />

        <div class="row">
        <div class="large-12 columns">
            <label>Sprint Duration
                <input type="text" name="duration" />

        <div class="row">
        <div class="large-12 columns">
            <label>Selected User Stories
                <select name="teamMembers" multiple>
                    {{#userStories}}
                        <option value="{{objectID}}">{{title}}</option>
                    {{/userStories}}
                </select>
            </label>
        </div>
    </div>

    <input type="submit" value="Submit">

</form>


