{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}
<style>
td.details-control {
background: url('http://i.imgur.com/SD7Dz.png') no-repeat center center;
cursor: pointer;
}


tr.shown td.details-control {
background: url('http://i.imgur.com/d4ICC.png') no-repeat center center;
}

</style>

{{#sprint}}
<div class="row">

    <div class="large-6 columns">

        <h3> Detail </h3>
        <dl>
            <dt>Description</dt>
            <dl>{{body}}</dl>
            <dt>Date created</dt>
            <dl>{{endDate}}</dl>
            <dt>Expected duration</dt>
            <dl></dl>
            <dt>Expected completion date</dt>
            <dl></dl>
        </dl>

    </div>


	<div class="large-6 columns">
		<h3>Sprint Burndown Chart</h3>

		{{#burndownChart}}
		<canvas id="canvas" height="300" width="300"></canvas>
		<script>
			var ctx = document.getElementById("canvas");
			var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
				labels: {{{labels}}},
				datasets: [{
				type: 'bar',
				label: '# of Hours',
				data: {{workRemaining}},
				backgroundColor: "#2199e8"
			},
			{
				type: 'line',
				label: 'Expected Hours remaining',
				data: {{projectedWorkRemaining}},
				fill: false
			}
			]
			},
				options: {
				scales: {
				yAxes: [{
				ticks: {
				beginAtZero:true
			}
			}]
			}
			}
			});
		</script>
		{{/burndownChart}}




	</div>




</div>

<div class="row " style="top-margin:2%">
<div  class = "large-6 columns">
<h3> Sprint backlog</h3>
<table id="sprintBacklog">
	<thead>
		<tr>
			<td>Title</td>
			<td>Priority</td>
			<td>Estimates</td>
			<td>Status</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
	{{#userStory}}
		<tr>
			<td>{{title}}</td>
			<td>{{priority}}</td>
			<td>{{estimate}}</td>
			<td>{{status}}</td>
			<td><a href=""class="warning button">Add task</a></td>
		</tr>
	{{/userStory}}
	</tbody>
</table>

</div>

<div class="large-6 columns">
<h3> Task List </h3>
<table id="taskList" class ="large-6 columns" style="width:100%">
	<thead>
		<tr>
			<td>Title</td>
			<td>Estimate (In hour)</td>
			<td>Priority</td>
			<td>Status</td>
			<td>Assignee</td>
			<td>Belong to</td>
		</tr>
	</thead>


</table>
</div>
</div>


<div class="row">
	<div class="large-12 columns">

	<h3>Comments</h3>

	{{#comments}}
	{{#user}}
	<div class="profile-pic-med avatar">{{initials}}</div>

	<div class="message">
	<p><strong>{{name}}</strong></p>
	{{/user}}

	<p>{{comment}}</p>
	</div>

	{{/comments}}
	<div class="row">
	<div class="large-12 columns">

	<form action="{{url}}/comments" method="post">
	<label>Comment
	<input type="text" name="comment" />
	</label>
	<input type="submit" value="Post">
	</form>
	</div>
	</div>
	</div>

</div>



<script>
$("#sprintBacklog").DataTable({
paging:false,
searching:true,
autowidth:false,
info:false
}

);



</script>


{{/sprint}}


