{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}
{{#task}}
<form action="{{urlPath}}" method="post">

<div class="row">
<div class="large-12 columns">
<label>Body
<input type="text" name="body" value="{{body}}" />

</label>
<input type="submit" value="Submit">

</div>
</div>
</form>
{{/task}}





