{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}


	<div class="callout large primary">
		<div class="row column text-center">
			<h1>Tasks</h1>
		</div>
	</div>

	<div class="row medium-8 large-7 columns">

		{{#tasks}}
		<article class="blog-post">

    <a href="{{urlPath}}"><p>{{body}}</p></a>
           

		</article>
		{{/tasks}}

	</div>





