{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

{{#task}}
<div class="row">
<h3>{{title}}</h3>

</div>
<div class="row">
<div class="large-6 columns">

<dl>
	<dt>Description</dt>
	<dl>{{description}}</dl>
	<dt>Priority</dt>
	<dl>{{priority}}</dl>
	<dt>Status</dt>
	<dl>{{status}}</dl>
</dl>
</div>

<div class large-6 columns">
<dl>
<dt>Estimated Duration</dt>
<dl>{{estimates}}</dl>
<dt>Work Done</dt>
<dl>{{workDone}}</dl>
<dt>Assignee</dt>
<dl>{{assigneeName}}</dl>
</dl>
</div>
</div>
{{#isAssigned}}
	<div class="row large-6 columns">
		<form action="{{urlPath}}/updatetask" method="post">
			<fieldset>
				<legend>Update task progress</legend>
					<label> Work done (in hours)
						<input name="workDone" type="number" step="0.5"></input>
					</label>
					<label> Progress status
						<select name="progress">
							<option value="2">In Progress</option>
							<option value="3">Testing </option>
							<option value="4">Completed</option>
						</select>
					</label>
				<input type="submit" value="Submit"></input>
			</fieldset>
		</form>
	</div>
{{/isAssigned}}


<div class="row" style="margin-top:2%">
	<div class="large-12 columns">

	<h3>Comments</h3>
	{{#commentList}}
	{{#comment}}
	<div class="large-12 columns">

	<span class="profile-pic-med avatar">{{initials}}</span>

	<div class="message large-10 columns">
	<strong>{{name}}</strong>
	<br>
	<div id="{{commentIndicator}}{{initials}}" class="row large-10 columns">
	{{comment}}
	</div>
	<a id="cancelButton{{commentIndicator}}" onclick="cancelEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}','cancelButton{{commentIndicator}}')" style="display:none" class="blueButton button">Cancel</a>

	<a style="display:none" id="saveButton{{commentIndicator}}" onclick="postEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', '{{identifier}}', '{{commentIndicator}}')" class="blueButton button">
	Post
	</a>

	<a onclick="editComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', 'cancelButton{{commentIndicator}}')" style="display:{{visibility}}" class="orangeButton button">Edit</a>


<a method="post" onclick="confirmationDeletionOrDeactivate('{{identifier}}_{{commentIndicator}}/deletecomment', 'deleteButton{{commentIndicator}}', 'comment', 'true')" style="display:{{visibility}}" class="redButton button" id="deleteButton{{commentIndicator}}">
Delete
</a>


<br>
</div>
</div>
{{/comment}}
{{/commentList}}

<form action="{{url}}/comments" method="post">
<label>Comment
<input type="text" name="comment" />
</label>
<input type="submit" value="Post">
</form>
</div>
</div>
</div>

</div>

</article>
{{/task}}

</div>





