{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class="row medium-8 large-7 columns">

{{#task}}
<article class="blog-post">

<h3>{{title}}</h3>

<h4>Description</h4>
<h5 class="subheader">{{description}}</h5>

<h4>Priority</h4>
<h5 class="subheader">{{priority}}</h5>


<h4>Status</h4>
<h5 class="subheader">{{status}}</h5>


<h4>Estimates In Hour</h4>
<h5 class="subheader">{{estimates}}</h5>


<h4>Work Done</h4>
<h5 class="subheader">{{workDone}}</h5>

<a href="{{urlPath}}/assign">{{assignAction}}</a>

<h5>Assigned Team members</h5>
{{#teamMembers}}
<a href="{{pathURL}}">{{name}}</a>
{{/teamMembers}}
<div class="row">
<div class="large-12 columns">

<h3>Comments</h3>

<h3>Comments</h3>
{{#commentList}}
{{#comment}}
<div class="large-12 columns">

<span class="profile-pic-med avatar">{{initials}}</span>

<div class="message large-10 columns">
<strong>{{name}}</strong>
<br>
<div id="{{commentIndicator}}{{initials}}" class="row large-10 columns">
{{comment}}
</div>
<a id="cancelButton{{commentIndicator}}" onclick="cancelEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}','cancelButton{{commentIndicator}}')" style="display:none" class="blueButton button">Cancel</a>

<a style="display:none" id="saveButton{{commentIndicator}}" onclick="postEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', '{{identifier}}', '{{commentIndicator}}')" class="blueButton button">
Post
</a>

<a onclick="editComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', 'cancelButton{{commentIndicator}}')" style="display:{{visibility}}" class="orangeButton button">Edit</a>


<a method="post" href="{{identifier}}_{{commentIndicator}}/deletecomment" style="display:{{visibility}}" class="redButton button">
Delete
</a>


<br>
</div>
</div>
{{/comment}}
{{/commentList}}

<p>{{comment}}</p>
</div>

{{/comments}}
<div class="row">
<div class="large-12 columns">

<form action="{{url}}/comments" method="post">
<label>Comment
<input type="text" name="comment" />
</label>
<input type="submit" value="Post">
</form>
</div>
</div>
</div>

</div>

</article>
{{/task}}

</div>





