<div style="margin-top:2%">
<div class = "row">
<div class="large-6 columns">
{{#burndownChart}}
<canvas id="canvas" height="300" width="300"></canvas>
<script>
var ctx = document.getElementById("canvas");
var myChart = new Chart(ctx, {
type: 'bar',
data: {
labels: {{{labels}}},
datasets: [{
label: '# of Hours',
data: {{workRemaining}},
backgroundColor: "#2199e8"

}]
},
options: {
scales: {
yAxes: [{
ticks: {
beginAtZero:true
}
}]
}
}
});
</script>
{{/burndownChart}}
</div>
<div class="large-6 columns">
<h3>Assigned Tasks</h3>

{{#tasks}}
<a href="{{urlPath}}"><h4>{{body}}</h4></a>
{{/tasks}}

</div>
</div>