{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class = "row" style="top-margin:2%">

<table class="large-12 columns" id="storyList" >
		<thead>
			<tr>
				<th>Ranking</th>
				<th>Title</th>
				<th>Type</th>
				<th>Priority</th>
				<th>Estimation</th>
				<th>Epic Link</th>
				<th>Status</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			{{#userStories}}
			<tr>
				<td>{{rankingIndex}}</td>
				<td>{{title}}</td>
				<td>{{type}}</td>
				<td>{{priority}}</td>
				<td>{{estimate}} hours</td>
				<td>{{epicLink}}</td>
				<td>{{status}}</td>
				<td><a href=""class="warning button">Estimate</a>
					<a href=""class="alert button">Delete</a>
				</td>
			</tr>
{{/userStories}}
		</tbody>
	</table>





</div>



<script>

var sequence = "";

	var table =$("#storyList").DataTable({
		paging:false,
		searching:false,
		info:false,
		rowReorder:true
	});

	table.on('row-reorder',function(e, diff,edit){
table.draw();
		var data = table.rows().data();
		data.each(function (value, index) {
		alert('Data in index: ' + index + ' is: ' + value);
		});


	/*	for(var i=0, ien = diff.length ; i<ien ; i++){
			var rowData = table.row(diff[i].node).data();
			sequence  = sequence + "_" + rowData[0];
		}*/

		var URL  = "/userstories/0/arrange?sequence="  + sequence;
		//window.location.href= URL;
});
</script>
