{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class = "row" style="top-margin:2%">

<table class="large-12 columns" id="storyList" >
		<thead>
			<tr>
				<th>Ranking</th>
				<th>Title</th>
				<th>Type</th>
				<th>Priority</th>
				<th>Estimation</th>
				<th>Component</th>
				<th>Status</th>
				<th></th>
				<th style="display:none"></th>
			</tr>
		</thead>

		<tbody>
			{{#userStories}}
			<tr>
				<td>{{rankingIndex}}</td>
<td><a href="{{urlPath}}">{{title}}</a></td>
				<td>{{type}}</td>
				<td>{{priority}}</td>
				<td>{{estimate}} hours</td>
				<td>{{component}}</td>
				<td>{{status}}</td>
				<td><a href="{{urlPath}}/edit"class="warning button">Edit</a>
					<a href=""class="alert button">Delete</a>
				</td>
				<td style="display:none">{{rankingIndex}}</td>
			</tr>
{{/userStories}}
		</tbody>
	</table>

<a class="success button" onClick="updatePressed()">Update</a>





</div>



<script>

var sequence = "";

	var table =$("#storyList").DataTable({
		paging:false,
		searching:false,
		info:false,
		rowReorder:true

	});

function updatePressed(){
	var data = table.rows().data();

	data.each(function (value, index) {
		sequence  = sequence + "_" + value[8];
	});


	var URL  = "/userstories/0/arrange?sequence="  + sequence;
	window.location.href= URL;

}

	table.on('row-reorder',function(e, diff,edit){
		for(var i=0, ien = diff.length ; i<ien ; i++){
			var rowData = table.row(diff[i].node).data();

		}
	});




</script>
