{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}


	<div class="callout large primary">
		<div class="row column text-center">
			<h1>User Stories</h1>
		</div>
	</div>

	<div class="row medium-8 large-7 columns">

		{{#userstory}}
		<article class="blog-post">

            <h3>{{title}}</h3>
			<p>{{story}}</p>
           

		</article>
		{{/userstory}}

	</div>





