{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<div class="row large-12 columns">

{{#userStory}}
<article class="blog-post">


<h3>{{title}}</h3>

<dl>
<dt>Description</dt>
<dl>{{story}}</dl>
<dt>Priority</dt>
<dl>{{priority}}</dl>
<dt>Status</dt>
<dl>{{}}</dl>
<dt>Estimates</dt>
<dl>{{estimatedDuration}}</dl>
</dl>

</div>

<h4>Comments</h4>
<div class="row large-12 columns" style="height:500px;overflow-y:scroll;">
{{#comments}}
{{#user}}
<div class="profile-pic-med avatar">{{initials}}</div>
<div class="message">
<p><strong>{{name}}</strong></p>
{{/user}}

<p>{{comment}}</p>
</div>

{{/comments}}

<form action="{{url}}/comments" method="post">
<div class="row">
<div class="large-12 columns">
<label>Comment
<input type="text" name="comment" />
</label>
</div>
</div>
<input type="submit" value="Post">
</form>
</div>

</article>
{{/userStory}}





