{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<h3>{{title}}</h3>

<div class="row">
{{#userStory}}
<h3>{{title}}</h3>
<div class ="large-6 columns">


	<dl>
    <dt>Description</dt>
    <dl>{{story}}</dl>
	<dt>Type</dt>
	<dl>{{type}}</dl>
	<dt>Priority</dt>
	<dl>{{priority}}</dl>



	</dl>

</div>

<div class = "large-6 columns">
	<dl>
		<dt> Component </dt>
		<dl>{{component}} </dl>
		<dt> Epic link </dt>
		<dl> {{epic}} </dl>
		<dt>Estimates in hour</dt>
		<dl>{{estimate}}</dl>
		<dt>Status</dt>
		<dl>{{status}}</dl>
	</dl>



</div>


</div>







<h4>Comments</h4>
{{#commentList}}
{{#comment}}
{{#user}}
<div class="large-12 columns">
    <div class="profile-pic-med avatar">{{initials}}</div>
    <div class="message large-10 columns">
        <strong>{{name}}</strong>
        <br>
        <div id="{{commentIndicator}}{{initials}}" class="row large-10 columns">
        {{comment}}
        </div>
        <a id="cancelButton{{commentIndicator}}" onclick="cancelEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}','cancelButton{{commentIndicator}}')" style="display:none" class="blueButton button">Cancel</a>

        <a style="display:none" id="saveButton{{commentIndicator}}" onclick="postEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', '{{identifier}}', '{{commentIndicator}}')" class="blueButton button">
        Post
        </a>

        <a onclick="editComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', 'cancelButton{{commentIndicator}}')" style="display:{{visibility}}" class="orangeButton button">Edit</a>


        <a method="post" onclick="confirmationDeletionOrDeactivate('{{identifier}}_{{commentIndicator}}/deletecomment','deleteButton{{commentIndicator}}','comment', 'true')" style="display:{{visibility}}" class="redButton button" id="deleteButton{{commentIndicator}}">
        Delete
        </a>

        <br>
    </div>
    <br>
</div>
{{/user}}
{{/comment}}
{{/commentList}}

<form action="{{url}}/comments" method="post">
<div class="row">
<div class="large-12 columns">
<label>Comment
<input type="text" name="comment" />
</label>
</div>
</div>
<input type="submit" value="Post">
</form>

{{/userStory}}





