<ul id="sideNav" class="vertical accordion-menu menu" data-accordion-menu>
<li class="singleItem">
<a> Dashboard </a>
</li>
<li class="singleItem">
<a> Project </a>
</li>
<li class="singleItem">
<a> Sprint </a>
</li>
<li class="singleItem">
<a> User Profile </a>
</li>
</ul>
