{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}
<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/fonts.css" rel="stylesheet">

   <!-- <link rel="stylesheet" href=""> -->
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">

     <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/u/zf/dt-1.10.12,rr-1.1.2/datatables.min.css"/>

    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/stylesheets/foundation.min.js"></script>
    <script src="/stylesheets/Chart.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/u/zf/dt-1.10.12,rr-1.1.2/datatables.min.js"></script>

    <title>Scrum Manager</title>
</head>
<body>

    <div class="expanded row large-collapse">
        <div class="large-2 columns">
<div class="top-bar" style="top-margin:0px;">
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu>
<li>
<a href="{{pathURL}}">{{projectName}}</a>
<ul class="menu">
<li><a href="{{projectPathURL}}">About</a></li>
<li><a href="/projects">Switch Projects</a></li>
</ul>
</div>
</div>
            <nav>
                <ul class="menu vertical">
                    <li class=>
                        <a href="/dashboard"> Dashboard </a>
                    </li>
                    <li>
                        <a href="/userstories">User Stories</a>
                    </li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li>
                        <a href="/sprints">Sprints</a>
                    </li>

{{#user}}
                    {{#isAdmin}}
                    <li>
                        <a href="/users">Users</a>
                    </li>

                    {{/isAdmin}}
{{/user}}
                </ul>
            </nav>


        </div>
        <div class="large-10 columns">

<div class="top-bar" style="top-margin:0px;">
<div class="top-bar-left">
<ul class="menu">
<li class="menu-text">{{pageTitle}}</li>


{{#actions}}
<li><a class="{{#isDestructive}}destructive{{/isDestructive}}" href="{{url}}"><i class="{{icon}}"></i>{{name}}</a></li>
{{/actions}}
</ul>
</div>

{{#user}}
<div class="top-bar-right">
<ul class="dropdown menu" data-dropdown-menu>
<li>
<a href="{{pathURL}}">{{name}}</a>
<ul class="menu">
<li><a href="{{pathURL}}/edit">Edit Profile</a></li>
<li><a href="/logout">Log out</a></li>
</ul>
</li>
</ul>
</div>
{{/user}}
</div>




{{{content}}}



        </div>
        </div>
        <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.js"></script>
        <script src="/stylesheets/foundation.min.js"></script>
        <script src=" https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js">
        </script>
        <script src="/stylesheets/what-input.js"></script>
        <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>


        <script>

$(document).foundation();

        $("document").ready(function(){
            $(document).foundation();
//User Management: Edit Profile
$("#image").change(function() {
    document.getElementById('profileImage').innerHTML =  document.getElementById("image").files[0].name;
});

$("#endDate").datepicker();

});

        </script>
        <script>
            function editComment(a, b){
                document.getElementById(a).setAttribute("contenteditable", "true");
                document.getElementById(a).style.backgroundColor = "rgba(0,0,0,.2)";
                document.getElementById(a).style.marginLeft = "4px";
                document.getElementById(b).style.display = "block";
            }

            function postEditComment(commentColumn, saveButton, sprintID, commentIndicator){
                var editComment = document.getElementById(commentColumn).innerHTML;
                var path = sprintID+"_"+editComment+"_"+commentIndicator+"/edit";
                document.getElementById(saveButton).href = path;

            }
        </script>
    </body>
    </html>





