{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<form action="{{url}}/update" method="post" enctype="multipart/form-data">
{{#user}}
<div class="row text-center profile-top-bar">
<div class="row">
<div class ="small-4 large-4 small-centered large-centered columns">
<img class="profile-top-bar-img" src={{profilePictureURL}}>
</div>
<div class = "small-12 large-12 small-centered large-centered  columns">
<span></span>
<span class="profile-top-bar-name">{{name}}</span><br>
<span class="profile-top-bar-roles"><img class="profile-top-bar-roles-icon" src="/resources/position.svg"> {{role}}</span>
</div>
</div>
</div>
<div class="row">
<!-- Side menu for user management -->
<div class="large-2 columns">
<div class="row text-center user-management-side-menu">
<div class="columns user-management-side-menu-content"><a href="profile.html">User Profile</a></div>
<div class="columns user-management-side-menu-content"><a href="new.html">Create User</a></div>
<div class="columns user-management-side-menu-content"><a href="edit.html">User Settings</a></div>
<div class="columns user-management-side-menu-content"><a href="search.html">Browser User</a></div>
</div>

</div>

<!-- Content of side menu -->
<div class="large-10 columns">

<!-- Contents for tabs -->
<br>
<div class="columns panel">

<!-- Profile Pic -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Profile Picture</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input id="image" type="file" name="profile_picture" style="display: none;" />
<label id="profileImage">{{profilePictureURL}}</label>
<label for="image" class="edit-profile-img-upload-button">Choose a file</label>

</div>
</div>
<br>
<!-- Name -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Name</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="name" value="{{name}}"/>
</div>
</div>
<br>
<!-- Email -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Email</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="email" value="{{email}}" />
</div>
</div>
<br>
<!-- Role -->
<div class = "row" data-equalizer style="display:{{visibility}}">
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Roles</div>
<div class ="small-9 large-10 columns" data-equalizer-watch id="rolesField">
<select name="role">
<option value="Scrum Member">Scrum Member</option>
<option value="Scrum Master">Scrum Master</option>
<option value="Product Owner">Product Owner</option>
<option value="System Admin">System Admin</option>
</select>
</div>
</div>
<br>
<!-- Password -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password" value="{{password}}" />
</div>
</div>
<br>
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Confirm Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password2" />
</div>
</div>
<br>
<!-- Expertises -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Expertises</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>

<input type="text" name="expertises" value="{{expertises}}" />
</div>
</div>
<br>
<input type="submit" value="Submit">

</div>


</div>
</div>
</form>





