{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<form action="{{url}}/update" method="post" enctype="multipart/form-data">
{{#user}}
<div class="row text-center profile-top-bar">
<div class="row">
<div class ="small-2 large-2 small-centered large-centered columns">
<div class="profile-pic">{{initials}}</div>
</div>
<div class = "small-12 large-12 small-centered large-centered  columns">
<span></span>
<span class="profile-top-bar-name">{{name}}</span><br>
<span class="profile-top-bar-roles"><i class="icon-position"></i><span id="roleGet"> {{role}}</span></span>
</div>
</div>
</div>

<!-- Content of side menu -->
<div class="large-12 columns">

<!-- Contents for tabs -->
<br>
<div class="columns panel">

<!-- Name -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Name</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="name" value="{{name}}"/>
</div>
</div>
<br>
<!-- Email -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Email</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="email" value="{{email}}" />
</div>
</div>
<br>
<!-- Role -->
<div class = "row" data-equalizer style="display:{{visibility}}">
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Roles</div>
<div class ="small-9 large-10 columns" data-equalizer-watch id="rolesField">
<select name="role">
<option value="0" id="Team Member">Team Member</option>
<option value="1" id="Scrum Master">Scrum Master</option>
<option value="2" id="Product Owner">Product Owner</option>
<option value="3" id="System Admin">System Admin</option>
</select>
</div>
</div>
<br>
<!-- Password -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password" value="{{password}}" />
</div>
</div>
<br>
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Confirm Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password2" />
</div>
</div>
<br>
<!-- Expertises -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Expertises</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>

<input type="text" name="expertises" value="{{expertises}}" />
</div>
</div>
<br>
<input type="submit" value="Submit">

</div>

<script>
var role = document.getElementById("roleGet").innerHTML.trim();
document.getElementById(role).selected = "selected";
</script>
</div>
</div>
</form>




