{{% handler: index_handler }}{{!

	This is the mustache template file for the tap tracker example.
	
}}

<!-- Content of side menu -->
<div class="large-12 columns">
<h3>Users</h3>
<div class = "large-11 columns">
    <table class="large-12 columns" id="usersListTable" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th style="display:{{visibility}}">Action</th>
            </tr>

        </thead>

        <tbody>
            {{#userList}}
            <tr>
            <td>
                <a href="/users/{{username}}">{{name}}</a>
            </td>
            <td>
                <a href="/users/{{username}}">{{email}}</a>
            </td>
            <td class="text-center"  style="display:{{visibility}}">
                <a method="post" href="/users/{{username}}/edit" class="orangeButton button">
                Edit
                </a>
                <a method="post" href="/users/{{username}}/activate" style="display:{{isActive}}" class="blueButton button">
                Activate
                </a>
                <a method="post" href="/users/{{username}}/deactivate" style="display:{{isUnActive}}" class="redButton button">
                Deactivate
                </a>
                <a method="post" href="/users/{{username}}/delete" class="redButton button">
                Delete
                </a>
            </td>
            </tr>
            {{/userList}}
        </tbody>
    </table>
</div>

<script>
table = $("#usersListTable").DataTable({
    paging:false,
    searching:true,
    autowidth:false,
    info:false
});

</script>




