{{% handler: index_handler }}{{!

	This is the mustache template file for the tap tracker example.
	
}}

<!-- Content of side menu -->
<div class="large-12 columns">
<h3>Users</h3>
{{#userList}}
<div class="row collapse user-list-column" data-equalizer>
<div class="small-8 large-8 columns" data-equalizer-watch>
<div class="profile-pic-med avatar">{{initials}}</div>
<a href="/users/{{username}}">
{{name}}<br>
<span style="font-size: small">{{email}}</span>
</a>
</div>
<script>
$("#userListTable").DataTable({
    paging:false,
    searching:true,
    autowidth:false,
    info:false
});
</script>




