{{% handler: index_handler }}{{!

	This is the mustache template file for the tap tracker example.
	
}}

<!-- Content of side menu -->
<div class="large-10 columns">
{{#userList}}
<div class="row collapse user-list-column" data-equalizer>
<div class="small-2 large-2 columns text-center user-list-delete-button"">
<a method="post" href="/users/{{username}}/edit" style="display:{{visibility}}">
<input type="image" src="/resources/edit.svg" width="20" height="20" alt="Update">
</a>
<a method="post" href="/users/{{username}}/delete" style="display:{{visibility}}">
<input type="image" src="/resources/delete.jpg" width="20" height="20" alt="Delete">
</a>
<img src={{profilePictureURL}} class="show-profile-image">
</div>
<div class="small-10 large-10 columns" data-equalizer-watch>
<a href="/users/{{username}}">
{{name}}<br>
<span style="font-size: small">{{email}}</span>
</a>
</div>


</div>
{{/userList}}
</div>
</div>





