{{% handler:NewPost}}{{!

This is the mustache template file for the tap tracker example.

}}

<form action="/users" method="post" enctype="multipart/form-data">
<div class="row">

<!-- Content of side menu -->
<div class="large-10 columns">

<!-- Contents for tabs -->
<br>
<div class="columns panel">
<form>
<!-- Name -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Name</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="name"/>
</div>
</div>
<br>
<!-- Email -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Email</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="text" name="email" />
</div>
</div>
<br>
<!-- Role -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Roles</div>
<div class ="small-9 large-10 columns" data-equalizer-watch id="rolesField">
<select name="role">
<option value=0>Team Member</option>
<option value=1>Scrum Master</option>
<option value=2>Product Owner</option>
<option value=3>System Admin</option>
</select>
</div>
</div>
<br>
<!-- Passowrd -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password" />
</div>
</div>
<br>
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns profile-info-key" data-equalizer-watch>Confirm Password</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<input type="password" name="password2" />
</div>
</div>
<br>
<input type="submit" value="Submit">
</form>
</div>


</div>
</div>
</div>
</form>





