{{% handler:TTHandler}}{{!

	This is the mustache template file for the tap tracker example.
	
}}

<div class="row text-center profile-top-bar">
<div class="row">
{{#userProfile}}
<div class ="small-2 large-2 small-centered large-centered columns">

<div class="profile-pic">{{initials}}</div>

</div>
<div class = "small-12 large-12 small-centered large-centered columns">
<div class="profile-top-bar-name">{{name}}</div>
<div class="icon-suitcase"></div>
<div class="profile-top-bar-roles"><i class="icon-position"></i> {{role}}</div>

</div>
</div>
</div>
<div class="row">


<!-- Content of side menu -->
<div class="large-12 columns">

<!-- Contents for tabs -->
<br>
<div class="columns panel">
<!-- Email -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns" data-equalizer-watch>Email</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<div class="profile-info-value">{{email}}</div>
</div>
</div>
<br>
<!-- Project Involved -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns" data-equalizer-watch>Project Involved</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
<div class="profile-project-involved">{{project}}</div>
</div>
</div>
<br>
<!-- Expertises -->
<div class = "row" data-equalizer>
<div class ="small-3 large-2 columns" data-equalizer-watch>Expertises</div>
<div class ="small-9 large-10 columns" data-equalizer-watch>
{{#expertisesList}}
<div class="profile-info-value">{{expertise}}</div>
{{/expertisesList}}

</div>
</div>
<br>
{{/userProfile}}
</div>
</div>


</div>
</div>
</div>