{{% handler:TTHandler}}{{!

	This is the mustache template file for the tap tracker example.
	
}}

<div class="row">
<!-- Side menu for user management -->
<div class="large-2 columns">
<div class="row text-center user-management-side-menu">
<div class="columns user-management-side-menu-content"><a href="profile.html">User Profile</a></div>
<div class="columns user-management-side-menu-content"><a href="new.html">Create User</a></div>
<div class="columns user-management-side-menu-content"><a href="edit.html">User Settings</a></div>
<div class="columns user-management-side-menu-content"><a href="search.html">Browser User</a></div>
</div>
</div>


<!-- Content of side menu -->
<div class="large-10 columns">
<br>
<form class="has-form">
<div class="row collapse" style="padding-left: 10%;padding-right: 10%;">
<div class="small-10 large-11 columns">
<input type="text" id="searchUserTextField" placeholder="Search User" name="searchUserTextField"/>
</div>

<div class="small-2 large-1 columns">
<a class="button expand">Search</a>
</div>
</div>
</form>
{{#userList}}
<div class="row collapse user-list-column" data-equalizer>
<div class="small-2 large-2 columns text-center user-list-delete-button">
<a method="post" href="edit">
<input type="image" src="/resources/delete.jpg" width="20" height="20" alt="Update">
</a>
<a method="post" href="delete">
<input type="image" src="/resources/edit.svg" width="20" height="20" alt="Delete">
</a>
<img src={{profilePicUrl}} class="show-profile-image">
</div>
<div class="small-10 large-10 columns" data-equalizer-watch>
<a href="#">
{{name}}<br>
<span style="font-size: small">{{email}}</span>
</a>
</div>


</div>
{{/userList}}
</div>
</div>
