<!doctype html>
<html class="no-js" lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.css">
<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>
 
</head>
<body>
<form>
<div class = "row">
<div class= "medium-6 columns">
<label>Project Title
<input type="text" name="projectTitle"/>
</label>
<label>Description
<textarea name="projectDescription"></textarea>
</label>
<label> End date
<input type="date" name= "endDate">
</label>
</div>
</div>
</form>
</div>
</div>
</form>
</body>
</html>