  {{#project}}
<form action="{{url}}" method="post" enctype="multipart/form-data">
    <div class = "row">
        <div class= "medium-6 columns large-centered medium-centered">

            <label>Project Title
            <input type="text" name="projectTitle" value="{{name}}"/>
            </label>

            <label>Description
            <textarea name="projectDescription">{{projectDescription}}</textarea>
            </label>

            <label> End date
            <input type="text" name="endDate" value="{{endDate}}"/>
            </label>



            <label> Scrum master
            <select name="scrumMaster">
            {{#users}}
            <option value="{{objectID}}"> {{name}}</option>
            {{/users}}

            </select>
            </label>

            <label> Product Owner
            <select name="productOwner">
            {{#users}}
            <option value="{{objectID}}">{{name}}</option>
            {{/users}}
            </select>
            </label>

            <label> Team members
            <div class="scrollMembers">
            {{#users}}
                <input type="checkbox" value="{{objectID}}" name="teamMembers">  {{name}}<br>
            {{/users}}
            </div>
            </label>
{{/project}}
            <br>
            <input type="submit" value="Edit">
        </div>
    </div>
</form>