<h3>Projects</h3>
<table>
    <thead>
        <tr>
        <th width="200">Project Title</th>
        <th>Description</th>
        <th width="150">End Date</th>
        <th width="150">Scrum Master</th>
        </tr>
    </thead>
    <tbody>
{{#projects}}
        <tr>
<td><a href="{{urlPath}}/set">{{name}}</a></td>
<td>{{projectDescription}}</td>
<td>{{date}}</td>
<td>{{#scrumMaster}}
<a href="{{urlPath}}">{{name}}</a>
{{/scrumMaster}}</td>
        </tr>
{{/projects}}
    </tbody>
</table>