<h2>Projects</h2>
<table>
    <thead>
        <tr>
        <th width="200">Project Title</th>
        <th>Table Header</th>
        <th width="150">End Date</th>
        <th width="150">Scrum Master</th>
        </tr>
    </thead>
    <tbody>
{{#projects}}
        <tr>
<td><a href="{{urlPath}}/set">{{name}}</a></td>
<td>{{projectDescription}}</td>
        <td>Content Goes Here</td>
        <td>Content Goes Here</td>
        </tr>
{{/projects}}
    </tbody>
</table>