<form>
    <div class = "row">
        <div class= "medium-6 columns">
            <label>Project Title
                <input type="text" name="projectTitle"/>
            </label>
            <label>Description
                <textarea name="projectDescription"></textarea>
            </label>
            <label> End date
                <input type="date" name= "endDate"/>
            </label>
        </div>
    </div>
</form>