<div style="margin-top:1%">
<div class = "row">
<div class="medium-6 columns">
{{#project}}
<h3>Details</h3>
<dl>
<dt>Project</dt>
<dl>{{name}}</dl>
<dt>Description</dt>
<dl>{{projectDescription}}</dl>
<dt>End Date</dt>
<dl>{{endDate}}</dl>
<dt>Scrum Master</dt>
<dl>{{scrumMasterName}}</dl>
<dt>Product Owner</dt>
<dl>{{productOwnerName}}</dl>
</dl>
{{/project}}
</div>


<h3>Team members </h3>

<table class="medium-6 columns">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>

            </thead>

            <tbody>
{{#teamMember}}
                <tr>
                    <td>{{count}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>
                </tr>
{{/teamMember}}
            </tbody>
        </table>
     </div>
</div>

<div class="row align-bottom">
    <div class="large-12 columns">
    <table class="large-12 columns" style="margin-top:1%">
        <thead>
            <tr>
                <th>No.</th>
                <th>Date created</th>
                <th>Duration</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
{{#sprints}}
            <tr>
                <td>{{title}}</td>
                <td> 12/07/2015</td>
                <td> 15 days</td>
                <td> Ended </td>
            </tr>
{{/sprints}}
        </tbody>
    </table>


<div class="button-group">
{{#project}}
<a href="{{sprintURL}}" class="success button"> Add sprint </a>
{{/project}}
</div>

    </div>
</div>