<div style="margin-top:1%">
	<div class = "row">

		<div class="medium-6 columns">
		{{#project}}
		<h3>Details</h3>
		<dl>
		<dt>Project</dt>
		<dl>{{name}}</dl>
		<dt>Description</dt>
		<dl>{{projectDescription}}</dl>
		<dt>End Date</dt>
		<dl>{{formattedDate}}</dl>
		<dt>Scrum Master</dt>
		<dl>{{scrumMasterName}}</dl>
		<dt>Product Owner</dt>
		<dl>{{productOwnerName}}</dl>
		</dl>
		{{/project}}
		</div>

		<div class = "medium-6 columns">
				<h3>Team members </h3>
				<table class="medium-6 columns" id="memberList" >
							<thead>
								<tr>
									<th>No.</th>
									<th>Name</th>
									<th>Email</th>
								</tr>

							</thead>

							<tbody>
				{{#teamMember}}
								<tr>
									<td>{{count}}</td>
									<td>{{name}}</td>
									<td>{{email}}</td>
								</tr>
				{{/teamMember}}
							</tbody>
				</table>
		</div>

	</div>
</div>

<div class="row align-bottom">
    <div class="large-12 columns">
	<h3> Sprints</h3>
    <table class="large-12 columns" id="sprintTable" style="margin-top:1%">
        <thead>
            <tr>
                <th>No.</th>
				<th>Description</th>
                <th>Date created</th>
                <th>Duration</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
{{#sprint}}
            <tr>
				<td><a href={{urlPath}}>Sprint {{count}}</a></td>
                <td>{{title}}</td>
				<td>{{formattedDate}}</td>
				<td> {{duration}} hours</td>
				<td> {{status}} </td>
            </tr>
{{/sprint}}
        </tbody>
    </table>


<div class="button-group">
{{#project}}
<a href="{{sprintURL}}" class="success button"> Add sprint </a>
{{/project}}
</div>

    </div>
</div>
<script>
$("#memberList").DataTable({
paging:false,
searching:true,
autowidth:false,
info:false,
rowReorder:true
}

);

$("#sprintTable").DataTable({
paging:false,
info:false
})
</script>