{{% handler:TTHandler}}{{!

This is the mustache template file for the tap tracker example.

}}


    <div class="row column text-center">
        <h1>Sprint Review Report</h1>
    </div>
{{#reviewReport}}
<div class="small-12 medium-12 large-12 columns">
    <strong>Created At: {{createdAt}}</strong>
</div>

<div class="row medium-8 large-7 columns" style=" border-style: solid;border-top: thick double #ff0000;">
    <div class="small-12 medium-12 large-12 columns">
        <strong>User Stories Completed</strong>
    </div>

    <div class="small-12 medium-12 large-12 columns">
    <ul style="margin-left:20px;">
            {{#userStoriesCompleted}}
            <li>{{userstory}}</li>
            {{/userStoriesCompleted}}
        </ul>
    </div>
</div>


<div class="row medium-8 large-7 columns">
    <div class="small-9 medium-9 large-9 columns"><strong>Task(s)</strong></div>
    <div class="small-3 medium-3 large-3 columns"><strong>Status</strong></div>
</div>
{{#tasks}}
<div class="row medium-8 large-7 columns">
    <div class="small-9 medium-9 large-9 columns">{{task}}</div>
<div class="small-3 medium-3 large-3 columns"><i class="{{icon}}"></i>{{status }}</div>
</div>

{{/tasks}}

<h5>Comments</h5>
{{#commentList}}
{{#comment}}
{{#user}}
<div class="row medium-8 large-7 columns">
    <div class="large-12 columns">
        <div>

        </div>
        <div class="profile-pic-med avatar">{{initials}}</div>
        <div class="message large-10 columns">
            <strong>{{name}}</strong>
            <br>
            <div id="{{commentIndicator}}{{initials}}" class="row large-10 columns">
                {{comment}}
            </div>
            <a style="display:none" id="saveButton{{commentIndicator}}" onclick="postEditComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}', '{{identifier}}', '{{commentIndicator}}')" class="blueButton button">
            Post
            </a>

            <a onclick="editComment('{{commentIndicator}}{{initials}}', 'saveButton{{commentIndicator}}')" style="display:{{visibility}}" class="orangeButton button">Edit</a>


            <a method="post" href="{{identifier}}_{{commentIndicator}}/delete" style="display:{{visibility}}" class="redButton button">
            Delete
            </a>


            <br>
        </div>
        <br>
    </div>
</div>

{{/user}}
{{/comment}}
{{/commentList}}

<form action="{{url}}/comments" method="post">
	<div class="row medium-8 large-7 columns">
		<div class="large-12 columns">
			<label>Comment
				<input type="text" name="comment" />
			</label>
		</div>
	</div>
	<input type="submit" value="Post">
</form>

{{/reviewReport}}

<script>
function editComment(a, b){
document.getElementById(a).setAttribute("contenteditable", "true");
document.getElementById(a).style.backgroundColor = "rgba(0,0,0,.1)";
document.getElementById(a).style.marginLeft = "3px";
document.getElementById(b).style.marginLeft = "3px";
document.getElementById(b).style.display = "inline-flex";
}

function postEditComment(commentColumn, saveButton, sprintID, commentIndicator){
var editComment = document.getElementById(commentColumn).innerHTML;
var path = sprintID+"_"+editComment+"_"+commentIndicator+"/edit";
document.getElementById(saveButton).href = path;

}

var canvas = document.getElementById("drawLine");
var context = canvas.getContext("2d");
ctx.beginPath();
context.moveTo(0,0);
context.lineTo(0,400px);
context.stroke;
</script>